body {
    background-image: url("/public/background.jpg");
    backdrop-filter: blur(2px);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    height: 100vh;
}
